#speakers {
    padding: 60px 0 30px 0;
  }
  
  #speakers .speaker {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
  }
  
  #speakers .speaker .details {
    background: rgba(6, 12, 34, 0.76);
    position: absolute;
    left: 0;
    bottom: -30px;
    right: 0;
    text-align: center;
    padding-top: 10px;
    transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  #speakers .speaker .details h3 {
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
  }
  
  #speakers .speaker .details p {
    color: #fff;
    font-size: 15px;
    margin-bottom: 10px;
    font-style: italic;
  }
  
  #speakers .speaker .details .social {
    height: 30px;
  }
  
  #speakers .speaker .details a {
    color: #fff;
  }
  
  #speakers .speaker .details a:hover {
    color: #f82249;
  }
  
  #speakers .speaker:hover .details {
    bottom: 0;
  }
  
  #speakers-details {
    padding: 60px 0;
  }
  
  #speakers-details .details h2 {
    color: #112363;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
    letter-spacing: 2px;
  }
  
  #speakers-details .details .social {
    margin-bottom: 10px;
    display: flex;
    
  }
  #speakers-details .details .social .uil-instagram-alt{
    display: inline-flex;
  }
  
  #speakers-details .details .social a {
    background: #e9edfb;
    color: #112363;
    line-height: 1;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding-top: 9px;
  }
  
  #speakers-details .details .social a:hover {
    background: #f82249;
    color: #fff;
  }
  
  #speakers-details .details .social a i {
    font-size: 18px;
  }
  
  #speakers-details .details p {
    color: #112363;
    font-size: 15px;
    margin-bottom: 10px;
  }

  #speakers.wow.fadeInUp .container .section-header h2{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    color: #f82249;
  }
  #speakers-details.wow.fadeIn .container .section-header-1 h2{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    color: #f82249;
  }
  #speakers-details.wow.fadeIn .container .section-header-1 p{
    margin-top: 3rem;
    display: block;
    font-size: medium;
    color: #112363;
    
    
  }
  #speakers.wow.fadeInUp .container .section-header p{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* change this to whatever spacing you prefer */
  }
  
  .col-lg-4,
  .col-md-6 {
    flex-basis: calc(33.33% - 10px); /* adjust the width to your preference */
    margin-bottom: 20px; /* adjust the margin bottom to your preference */
  }
/* Mobile devices */
@media only screen and (max-width: 767px) {
  .col-lg-4,
  .col-md-6 {
    flex-basis: 100%;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 767px){
  .row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-direction: column;
  }

}



/* Tablets and small desktops */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .speaker {
    margin-bottom: 30px;
  }
}
.col-lg-4, .col-md-6 {
  flex-basis: calc(50% - 10px);
  margin-bottom: 20px;
}

/* Large desktops */
@media only screen and (min-width: 992px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
}

  .col-lg-4,
  .col-md-6 {
    flex-basis: calc(33.33% - 10px);
    margin-bottom: 20px;
  }
  #speakers-details.wow.fadeIn .container .section-header-1 p{
    margin-top: 3rem;
    display: block;
    font-size: medium;
    color: #112363;
    margin-left: 250px;
    
  }
}

  
  
  
 

  